Repository aiktb/VueAST: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --max-warnings=0"],
  "*.{js,ts,vue,json}": ["prettier --write"]
}

feat: preview vue ast json
  .gitattributes
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.yml
  .github/workflows/ci.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .nvmrc
  .vscode/extensions.json
  .vscode/settings.json
  LICENSE
  README.md
  app/assets/logo.svg
  app/assets/tailwind.css
  app/components/ast-json-preview.tsx
  app/components/code-mirror-editor.tsx
  app/components/ui/resizable.tsx
  app/entry.client.tsx
  app/entry.server.tsx
  app/lib/utils.ts
  app/root.tsx
  app/routes/_index.tsx
  biome.json
  commitlint.config.ts
  components.json
  netlify.toml
  package.json
  pnpm-lock.yaml
  public/favicon.ico
  tailwind.config.ts
  tsconfig.json
  vite.config.ts
Due: eslint --max-warnings=0, prettier --write

feat: add header layout
  README.md
  app/components/ast-json-preview.tsx
  app/components/global-options.tsx
  app/components/header.tsx
  app/components/themes-switcher.tsx
  app/components/ui/button.tsx
  app/components/ui/dropdown-menu.tsx
  app/components/ui/input.tsx
  app/components/ui/label.tsx
  app/components/ui/popover.tsx
  app/components/ui/tooltip.tsx
  app/root.tsx
  app/routes/_index.tsx
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
Due: eslint --max-warnings=0, prettier --write

chore: update author and email
  LICENSE
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: change icon size
  app/components/themes-switcher.tsx
  app/root.tsx
Due: none

fix: `next-themes` cause hydration failed
  app/components/themes-switcher.tsx
  app/hooks/index.ts
  app/hooks/useMount.ts
Due: eslint --max-warnings=0, prettier --write

feat: implement two sets of themes: light and dark
  .vscode/settings.json
  app/assets/tailwind.css
  app/components/ast-json-preview.tsx
  app/components/code-mirror-editor.tsx
  app/components/header.tsx
  app/components/themes-switcher.tsx
  app/hooks/index.ts
  app/hooks/useMount.ts
  app/root.tsx
  app/routes/_index.tsx
  package.json
  pnpm-lock.yaml
  tailwind.config.ts
Due: eslint --max-warnings=0, prettier --write

feat: add shortcut tips
  .vscode/settings.json
  app/components/code-mirror-editor.tsx
  app/components/header.tsx
  app/components/ui/tooltip.tsx
  app/routes/_index.tsx
Due: prettier --write

feat: add copy json button
  app/components/ast-json-preview.tsx
  app/components/code-mirror-editor.tsx
  app/root.tsx
  app/routes/_index.tsx
Due: none

fix: unable to format script tag in Vue SFC
  app/components/code-mirror-editor.tsx
Due: none

style: adjust font size and select mode
  app/components/header.tsx
Due: none

fix(style): when the system theme is light, the editor theme is dark
  app/components/code-mirror-editor.tsx
Due: none

fix(style): on mobile, main content can scroll up beyond header
  app/routes/_index.tsx
Due: none

style: unify border of editor gutters
  app/components/code-mirror-editor.tsx
Due: none

fix: every time refresh, the mobile Chrome shows FOUT
  app/root.tsx
Due: none

feat: binding `URLSearchParams` with the editor value
  app/assets/example.vue
  app/routes/_index.tsx
  biome.json
Due: eslint --max-warnings=0, prettier --write

feat: prompt that there are unsaved changes
  app/components/code-mirror-editor.tsx
Due: none

style: change color, width when dragging `ResizeHandle`
  app/components/ui/resizable.tsx
Due: none

feat: implement simple collapsible tree view
  app/assets/example.vue
  app/components/collapsible-tree-view.tsx
  app/components/global-options.tsx
  app/components/selected-node-view.tsx
  app/components/ui/radio-group.tsx
  app/lib/store.ts
  app/routes/_index.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --max-warnings=0, prettier --write

fix: `ResizablePanel` warning that the sum of percentages needs to be 100%
  .github/CONTRIBUTING.md
  app/routes/_index.tsx
  commitlint.config.ts
Due: eslint --max-warnings=0, prettier --write

feat: auto save when the editor is blurred
  app/components/code-mirror-editor.tsx
Due: none

chore: update deployment info
  README.md
Due: none

feat: link editor selection and selected node
  app/components/code-mirror-editor.tsx
Due: none

fix(style): frequent font flickering
  app/root.tsx
Due: none

chore: update site
  README.md
  app/assets/example.vue
  app/lib/store.ts
  app/lib/utils.ts
  app/lib/utils.tsx
  app/routes/_index.tsx
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --max-warnings=0, prettier --write

feat: complete the foldable function
  README.md
  app/assets/example.vue
  app/components/ast-json-preview.tsx
  app/components/collapsible-tree-view.tsx
  app/components/global-options.tsx
  app/components/header.tsx
  app/components/selected-node-view.tsx
  app/components/ui/input.tsx
  app/components/ui/label.tsx
  app/components/ui/popover.tsx
  app/components/ui/radio-group.tsx
  app/lib/store.ts
  app/lib/utils.tsx
  package.json
  pnpm-lock.yaml
  renovate.json
Due: eslint --max-warnings=0, prettier --write
